// ============================================================
// 設定
// ============================================================
// ------------------------------------------------------------
// font-family
// color
// MediaQuery
// ------------------------------------------------------------

// ------------------------------------------------------------
// font-family
// ------------------------------------------------------------
$fontFamily: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$fontE: "Times New Roman", Times, serif;

// ------------------------------------------------------------
// color
// ------------------------------------------------------------
$base-black: #333;
$gray: #999;
$brown: #4B3827;
$brown_light: #7C654F;

$blue: #009EE6;
$blue_light: #EAEDF0;
$green: #4BB0A9;
$green_light: #EAF0ED;
$yellow: #F7EB57;

// ------------------------------------------------------------
// z-index
// ------------------------------------------------------------
$zindex-header: 100;
$zindex-wrapper: 99;

// ------------------------------------------------------------
// MediaQuery
// ------------------------------------------------------------
$pcL: 1480px;
$pcM: 1200px;
$pc: 960px;
$tablet: 840px;
$ipad: 768px;
$miniTablet: 640px;
$sp: 480px;

// ------------------------------------------------------------
// Common Size
// ------------------------------------------------------------
$headH: 60px;
$headH-sp: 44px;
$sideMargin: 6%;
