// ============================================================
// Utility
// ============================================================

.u-ta-c {
  text-align: center !important;
}

.u-c-red {
  color: #d00 !important;
}

.u-flex-left {
  justify-content: left !important;
}

.u-pt-0 {
  padding-top: 0 !important;
}
