/* 100ã€œ900 with Italic */
//@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');