// ============================================================
// p-top
// ============================================================
// p-topHero
// p-distribution

// ------------------------------------------------------------

// ------------------------------------------------------------
// p-topHero
// ------------------------------------------------------------
.p-topHero {
  position: relative;
  margin: 0 auto;
  padding: 40px 0 60px;
  width: $pc;
  @include clearfix;
  @include mq($pc) {
    display: block;
    padding: 20px 0 20px;
    width: 100%;
  }
}
.p-topHeroLogo {
  position: relative;
  float: left;
  width: 50%;
  //background-color: #000;
  text-align: center;
  @include mq($pc) {
    float: none;
    width: 100%;
    margin-bottom: 1em;
  }
  img {
    @include mq($pcM) {
      width: 68%;
      height: auto;
    }
    @include mq($pc) {
      width: 50%;
    }
    @include mq($miniTablet) {
      width: 80%;
    }
  }
}
.p-topHeroText {
  box-sizing: border-box;
  float: right;
  padding: 60px 0 0 20px;
  position: relative;
  width: 50%;
  &.is-hidden {
    visibility: hidden;
  }
  @include mq($pc) {
    float: none;
    width: 100%;
    text-align: center;
  }
  @include mq($miniTablet) {
    padding: 15px;
  }
}
.p-topHeroText__copy--sub {
  margin-bottom: 20px;
  @include fz(20);
  line-height: 1.4;
  @include mq($miniTablet) {
    margin-bottom: 10px;
    @include fz(16);
  }
}
.p-topHeroText__copy {
  margin-bottom: 40px;
  @include fz(42);
  color: $brown;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: .15em;
  @include mq($miniTablet) {
    margin-bottom: 20px;
    @include fz(28);
  }
}
.p-topHeroTextNav {
  margin-bottom: 30px;
  @include mq($miniTablet) {
    margin-bottom: 20px;
  }
  ul {
    padding: 0;
    li {
      margin-bottom: .2em;
      @include fz(15);
      font-weight: bold;
      list-style-type: none;
      line-height: 1.8;
      a {
        color: $green;
      }
    }
  }
}
.p-topHeroText__date {
  @include fz(20);
  //line-height: 1.4;
  @include mq($miniTablet) {
    @include fz(16);
  }
}


// ------------------------------------------------------------
// p-venues
// ------------------------------------------------------------
.p-venues {
  margin-bottom: 60px;
  @include mq($miniTablet) {
    margin-bottom: 30px;
  }
}
.p-topVenues {
  margin-top: 60px;
  @include mq($miniTablet) {
    margin-top: 30px;
  }
}
.p-venues__title {
  margin-bottom: .5em;
  padding: 0;
  @include mq($miniTablet) {
    @include fz(16);
  }
}
.p-venuesBox {
  box-sizing: border-box;
  overflow-x: scroll hidden;
  border-radius: 20px;
  padding: 0 20px;
  ul {
    box-sizing: border-box;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    max-width: 980px;
    margin: 0;
    padding: 40px 0 20px 0;
    /*justify-content: space-between;*/
    @include mq($miniTablet) {
      padding: 20px 0 10px 0;
    }
    li {
      display: inline-block;
      margin: 0 20px;
      width: 240px;
      list-style: none;
      @include mq($miniTablet) {
        margin: 0 10px;
        width: 180px;
      }
      figure {
        margin-bottom: 1em;
        @include mq($miniTablet) {
          
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.p-venuesBox--std {
  background-color: #f3f3f3;
}
.p-venuesBox--spinoff {
  background-color: #f5eaea;
}
.p-venuesBox__title {
  font-weight: bold;
  @include mq($miniTablet) {
    margin-bottom: .2em;
    @include fz(13);
    line-height: 1.4;
  }
}
.p-venuesBox__link {
  word-wrap: break-word;
  @include mq($miniTablet) {
    @include fz(12);
    line-height: 1.4;
  }
  a {
    font-weight: normal;
  }
}

// ------------------------------------------------------------
// p-topPubThumb
// ------------------------------------------------------------
.p-topPubThumb {
  display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
  margin: 40px 0;
}
.p-topPubThumbItem {
  margin: 6px;
  width: 30%;
  border: 1px solid #e5e5e5;
  @include mq($miniTablet) {
    width: 45%;
  }
}

// ------------------------------------------------------------
// p-topPubThumb
// ------------------------------------------------------------
.p-topMedia {
  margin: 60px 0 60px;
}
.p-topMediaBlock {
  padding-left: 1.2em;
  li {
    margin: 0 0 .5em 0;
    padding: 0;
    line-height: 1.6;
    //list-style: none;
    
    a {

    }
  }
}

// ------------------------------------------------------------
// p-topNews
// ------------------------------------------------------------
.p-topNews {
  width: 500px;
  margin: 60px auto 40px;
  padding: 40px;
  border-radius: 20px;
  background-color: #507091;
  @include mq($ipad) {
    margin: 30px auto 20px;
    padding: 20px;
    width: 300px;
  }
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
  @include mq($ipad) {
    height: 280px !important;
  }
}

// ------------------------------------------------------------
// p-TopArchive
// ------------------------------------------------------------
.p-TopArchive {
  padding: 0;
  li {
    margin-bottom: 4px;
    list-style: none;
    background-color: #f3f3f3;
    font-weight: bold;
    a {
      display: block;
      padding: .75em 1em;
    }
    &.spinoff {
      background-color: #F5EAEA;
      a {
        color: #9E2C43;
      }
    }
  }

}

